/* page *

-------------------------------------- */

@import 'src/styles/resources/variables';

.main {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.section {
    position: relative;
    scroll-snap-align: center;
    width: 100%;

    &:not(.isFullWidth) {
        padding: 0 1.6rem;
    }
}

.sectionInner {
    width: 100%;
    max-width: $max-width-page;
    margin: auto;
}

.isMaxWidthL {
    .sectionInner {
        max-width: $max-width-page-l;
    }
}

.isBgBright {
    background-color: $color-01;
}

.isBgStitched {
    background:
            radial-gradient($color-02 3px, transparent 4px),
            radial-gradient($color-02 3px, transparent 4px),
            linear-gradient($color-01 4px, transparent 0),
            linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
            linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
            $color-01;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
